<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GIC Café</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

      * {
        margin: 0;
        padding: 0;
      }

      button {
        font-family: "Lexend", sans-serif;
      }
    </style>
  </head>
  <body class="flex justify-content items-center mx-20 my-20">
    <div class="w-full grid grid-cols-2 border-2 border-black">
      <div
        class="w-full grid grid-cols-5 gap-4 mx-3 my-3 font-[-apple-system] text-3xl font-bold"
      >
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          01
        </button>
        <button
          class="w-20 h-20 bg-orange-600 border-2 border-black text-white text-center"
        >
          02
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          03
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          04
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          05
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          06
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          07
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          08
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          09
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          10
        </button>

        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          11
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          12
        </button>
        <button
          class="w-20 h-20 bg-green-600 border-2 border-black text-white text-center"
        >
          13
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          14
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          15
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          16
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          17
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          18
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          19
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          20
        </button>

        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          21
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          22
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          23
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          24
        </button>
        <button
          class="w-20 h-20 bg-red-600 border-2 border-black text-white text-center"
        >
          25
        </button>
      </div>

      <div class="border-black border-l-2 py-28">
        <p class="text-3xl font-bold text-center">Table Information</p>

        <div class="ml-[150px] mt-[30px] w-full text-2xl">
          <div class="w-[400px] grid grid-col-1">
            <p>Table: <span>&nbsp;&nbsp;&thinsp;02,</span></p>
            <p>Status: <span>&nbsp;&thinsp;available/busy/unpaid</span></p>
            <p>
              Orders: <span>&nbsp;Iceamericano (R x 1), Icemocha(L x 1)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
