$light-box-shadow: 0 2px 4px 0 #00000020;
$light: #fff;
$light-blue: #f6f9fc;
$style: #ff6c37;
$style-hover: #d25a2e;
$light-gray: #eee;
$dark: #000;
$btn-shadow: 0 2px 5px 0 #999;
$cancel: #e0e0e0;
$success: #3a913a;
$danger: #da5050;
$menu-shadow: 0 0 10px 0 #00000026;
$dark-opacity: rgba(0,0,0,0.5);
$delete: #ff2e2e;
$blue: #5353ff;
@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin button() {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.create-branch-account {
    width: 100%;
    padding: 40px;
    .create-branch-account-title {
        h1 {
            font-size: 25px;
        }
    }
    form {
        max-width: 800px;
        width: 800px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 40px;
        div {
            width: 400px;
            max-width: 400px;
            label {
                font-weight: 600;
            }
            input {
                margin-top: 5px;
                width: 100%;
                height: 40px;
                background: $light;
                box-shadow: $light-box-shadow;
                border: none;
                outline: none;
                border: 1px solid transparent;
                font-size: 16px;
                padding: 0 10px;
                border-radius: 5px;
                &:focus {
                    border-color: $style;
                }
            }
            textarea {
                margin-top: 5px;
                width: 100%;
                height: 100px;
                background: $light;
                box-shadow: $light-box-shadow;
                border: none;
                outline: none;
                border: 1px solid transparent;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                resize: none;
                &:focus {
                    border-color: $style;
                }
            }
            .genders {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 5px;
                .gender {
                    height: 40px;
                    padding: 0 20px;
                    background: $light;
                    box-shadow: $light-box-shadow;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    .gender-choice {
                        width: 18px;
                        height: 18px;
                        border: 1px solid $dark;
                        border-radius: 50%;
                        @include center();
                        margin-right: 5px;
                        .gender-choice-inner {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                    }
                }
            }
            #browse {
                height: 40px;
                padding: 0 20px;
                background: $blue;
                @include center();
                cursor: pointer;
                border-radius: 5px;
                box-shadow: $btn-shadow;
                color: $light;
                svg {
                    width: 20px;
                    margin-right: 5px;
                    color: $light;
                }
            }
            #create {
                height: 50px;
                padding: 0 40px;
                @include button();
                border-radius: 5px;
                background: $style;
                color: $light;
                box-shadow: $btn-shadow;
                transition: background-color 0.2s;
                &:hover {
                    background: $style-hover;
                }
            }
        }
    }
}