$primary-color: #6283ec;
$secondary-color: #e74c3c;
$tertiary-color: #f39c12;
$quaternary-color: #27ae60;

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .info-card {
    flex: 1;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    margin: 15px;
    width: calc(25% - 20px);

    h3 {
      margin: 10px 0;
    }

    p {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .info-card:nth-child(1) {
    background-color: $primary-color;
    color: white;
  }

  .info-card:nth-child(2) {
    background-color: $secondary-color;
    color: white;
  }

  .info-card:nth-child(3) {
    background-color: $tertiary-color;
    color: white;
  }

  .info-card:nth-child(4) {
    background-color: $quaternary-color;
    color: white;
  }

  .info-card:hover:nth-child(1) {
    background-color: #00bfff;
  }

  .info-card:hover:nth-child(2) {
    background-color: #FA1919;
  }

  .info-card:hover:nth-child(3) {
    background-color: #ff8c00;
  }
  .info-card:hover:nth-child(4) {
    background-color: #00fa9a;
  }

  .chart-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .center-aligned.smaller-pie-chart {
    width: 15%;
    margin-right: 10px;
    order: 2;
  }

  .right-aligned {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 20px;
    order: 3; /* Change the order to move to the right */
  }
}