body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  /* Default background colors for InfoCards */
  /* Hover styles for each info-card */
  /* Styling for the icon */
  /* Styling for title */
  /* Styling for value */
  /* Update your existing CSS for .center-aligned .smaller-pie-chart */
  /* Add new CSS to center-align the InfoCard and Pie Chart */
  /* Push the smaller-pie-chart to the right */
  /* recentlyDeliveredTable.css */
  /* Add more custom styles as needed */
}
.dashboard h2 {
  font-size: 20px;
  margin-bottom: 14px;
  color: "ffff";
}
.dashboard .info-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row if necessary */
  border-radius: none;
}
.dashboard .info-card {
  flex: 1; /* Distribute available space equally among flex items */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.dashboard .info-card:hover {
  background-color: #ffe4c4;
}
.dashboard .info-card i {
  font-size: 36px;
  margin-bottom: 10px;
}
.dashboard .info-title {
  font-size: 15px;
  margin: 0;
  color: "#ffff";
}
.dashboard .info-value {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.dashboard .info-card.total-branch-owner {
  background-color: #6283ec; /* Use primary color */
}
.dashboard .info-card.items {
  background-color: #e74c3c; /* Use secondary color */
}
.dashboard .info-card.incoming-items {
  background-color: #f39c12; /* Use tertiary color */
}
.dashboard .info-card.pending-items {
  background-color: #27ae60; /* Use quaternary color */
}
.dashboard .info-card.delivered-item {
  background-color: #9b59b6; /* Use quinary color */
}
.dashboard .info-card.total-profits {
  background-color: #1abc9c; /* Use senary color */
}
.dashboard .info-card.total-branch-owner:hover {
  background-color: #2980b9; /* Darker blue on hover */
}
.dashboard .info-card.items:hover {
  background-color: #c0392b; /* Darker red on hover */
}
.dashboard .info-card.incoming-items:hover {
  background-color: #27ae60; /* Darker green on hover */
}
.dashboard .info-card.pending-items:hover {
  background-color: #d4ac0d; /* Darker yellow on hover */
}
.dashboard .info-card.delivered-item:hover {
  background-color: #8e44ad; /* Darker purple on hover */
}
.dashboard .info-card.total-profits:hover {
  background-color: #16a085; /* Darker turquoise on hover */
}
.dashboard .info-icon {
  font-size: 24px;
  margin-bottom: 10px;
}
.dashboard .info-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.dashboard .info-value {
  font-size: 16px;
  margin: 0;
}
.dashboard .chart-container {
  display: flex;
  flex-wrap: wrap;
}
.dashboard .center-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dashboard .center-aligned .bar-chart {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  margin-left: 0; /* Push it to the left side */
  margin-right: auto; /* Push it to the right side */
  padding-left: 20px;
  display: block; /* Remove the flex display */
  text-align: center; /* Center-align the content */
}
.dashboard .grouped-bar-chart {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 0;
  padding-left: 20px;
  text-align: center;
}
.dashboard .bar-chart {
  width: 100%;
  max-width: 400px;
  marign-top: 10px;
  margin-left: auto;
  margin-right: 0;
  padding-left: 20px;
  text-align: center;
}
.dashboard .center-aligned .smaller-pie-chart {
  display: flex;
  width: 15%;
  margin-right: 10px;
  order: 2;
  justify-content: center;
}
.dashboard .center-aligned .smaller-pie-chart {
  width: 15%;
  margin-right: 10px;
  order: 2;
  justify-content: center;
}
.dashboard .center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dashboard .smaller-pie-chart {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  width: 300px;
}
.dashboard .charts {
  display: flex;
  justify-content: space-between; /* Creates space between the two charts */
}
.dashboard .multi-bar-chart {
  width: calc(70% - 10px); /* Adjust the width as needed */
  margin-right: 10px;
}
.dashboard .pie-chart {
  width: calc(70% - 10px); /* Adjust the width as needed */
  margin-left: 10px;
}
.dashboard .recently-delivered-table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9; /* Set a light background color */
  font-family: Arial, sans-serif; /* Change the font */
}
.dashboard .table-header {
  background-color: #ebf7f5;
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}
.dashboard .table {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff; /* Set table background color */
  border-collapse: collapse; /* Collapse table borders */
}
.dashboard .table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2; /* Alternate row background color */
}
.dashboard .table-cell {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 16px; /* Adjust cell font size */
}
.dashboard .table-header-row {
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
}/*# sourceMappingURL=dashboard-charts_20230915125425.css.map */